<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.post('/print/', {'text': document.getElementById('fname').value},
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


//button
<div class='container'>
    <h3>Test</h3>
        <form>
            <input type="text" id="fname" name="fname">
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>
</div>